{% extends "base.html" %}

{% block content %}
    <h2>Crea nuova flashcard</h2>
    <form action="/salva" id="creation" method="POST">
        <label for="materia">Materia:</label>
        <select name="materia" id="materia" required>
            <option value="" disabled selected>Seleziona una materia</option>
            {% for materia in materie %}
            <option value="{{ materia }}">{{ materia }}</option>
            {% endfor %}
        </select>
        <br>

        <div>
            <label for="domanda">Domanda:</label>
            <textarea name="domanda" placeholder="Inserisci la domanda" required></textarea>
            <br>
            <br>
            <label for="risposta">Risposta:</label>
            <textarea name="risposta" placeholder="Inserisci la risposta" required></textarea>
        </div>
        <br>
        <button href="{{ url_for('salva_flashcards') }}" type="submit" class="btn">Salva</button>
         <a href="{{ url_for('home') }}" class="btn-home">Home</a>
    </form>
{% endblock %}