{% extends "base.html" %}

{% block content %}
    <h2>Esercitati</h2>

    <div class="filtro-materie">
        <label id="lab-mat" for="materia">Filtra per materia:</label>
        <select id="materia">
            <option value="all">Tutte le materie</option>
            {% for materia in materie %}
            <option value="{{ materia }}">{{ materia }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="flashcards">
        {% for card in flashcards %}
        <div class="flashcard" data-materia="{{ card.materia }}">
            <div class="card-header">
                <span class="materia-badge">{{ card.materia }}</span>
                <div class="domanda">{{ card.domanda }}</div>
            </div>
            <div class="risposta" style="display:none;">{{ card.risposta }}</div>
            <button id="btn-risposta" onclick="toggleRisposta(this)">Mostra risposta</button>
        </div>
        {% endfor %}
         <a href="{{ url_for('home') }}" class="btn-home">Home</a>
    </div>

    <script>

        document.getElementById('materia').addEventListener('change', function() {
            const materia = this.value;
            const cards = document.querySelectorAll('.flashcard');
            
            cards.forEach(card => {
                card.style.display = (materia === 'all' || card.dataset.materia === materia) 
                    ? 'block' 
                    : 'none';
            });
        });

        function toggleRisposta(button) {
            const risposta = button.previousElementSibling;
            risposta.style.display = risposta.style.display === 'none' ? 'block' : 'none';
            button.textContent = risposta.style.display === 'none' ? 'Mostra risposta' : 'Nascondi risposta';
        }
    </script>
{% endblock %}